APP_NAME=CoffeePK
APP_PORT=8080

# PostgreSQL Local Setup
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_database_password
DB_NAME=coffeePK_db

# MongoDB disabled
MONGODB_HOST=
MONGODB_USER=
MONGODB_PASS=
MONGODB_NAME=

# JWT
JWT_SECRET_KEY=your_jwt_secret_key

# Cloudinary
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_KEY=your_cloudinary_key
CLOUDINARY_SECRET=your_cloudinary_secret

# Firebase disabled
GOOGLE_APPLICATION_CREDENTIALS=